@import "palette";

:root{
    --button-radius: 5px;
    --button-hover: 50px;
}

button{
    min-width: fit-content;

    width: 100px;
    height: 70px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_transp{
    background-color: var(--mantle);
    border-radius: var(--button-radius);
    border-width: 0;
}

a, a:visited{
    color: var(--text);
    text-decoration: none;
}

/* transitions */

div:hover:has(>button){
    border-radius: var(--button-hover);

    transition: all ease-in-out 0.2s;
    
    button{
        border-radius: var(--button-hover);
        transition: all ease-in-out 0.2s;

    }
    
}

div:not(hover:has(>button)){
    transition: all ease-in-out 0.2s;
    
    button{
        transition: all ease-in-out 0.2s;

    }
}


