@import "palette.css";

header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    padding: 1em;
    border-radius: 16px;

    background-color: var(--mantle);
}

#headerlist{
    display: flex;
    flex-basis: auto;
    flex-wrap: nowrap;
}

.selected{
    text-decoration-line: underline;
}

ul {
    display: flex;
    flex-wrap: wrap;
    min-width: fit-content;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-direction: row-reverse;
}

header ul li{
    display: flex;
    justify-content: space-between;
    padding-inline: 1em;
    flex-wrap: none;
}

header a{
    text-decoration: none;
    color: var(--text);
}

header a:visited{
    color: var(--text);
}

header a:hover{
    color: var(--subtext0);
    transition: all 0.15s ease-in-out;

}
header a:not(:hover){
    transition: all 0.15s ease-in-out;
}

#sep{
    color: var(--mauve)
}