:root{
    /* palette catppuccin mocha - accent mauve */
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;

    --text : #cdd6f4;
    --subtext1 : #bac2de;
    --subtext0 : #a6adc8;

    --overlay2 : #9399b2;
    --overlay1 : #7f849c;
    --overlay0 : #6c7086;
    --surface2 : #585b70;
    --surface1 : #45475a;
    --surface0 : #313244;

    --base : #1e1e2e;
    --mantle : #181825;
    --crust : #11111b;
}

.jaune{
    color: var(--yellow) !important; 
}
.jaune:hover{
    transition: all ease-in-out 0.2s;

    color: var(--peach) !important;
}

.rouge{
    color: var(--maroon) !important;
}
.rouge:hover{
    transition: all ease-in-out 0.2s;

    color: var(--red) !important;
}

.vert{
    color: var(--teal) !important;
}
.vert:hover{
    transition: all ease-in-out 0.2s;
    color: var(--green) !important;
}

.violet{
    color: var(--lavender) !important;
}
.violet:hover{
    transition: all ease-in-out 0.2s;
    color: var(--mauve) !important;
}

.bleu{
    color: var(--sapphire) !important;
}
.bleu:hover{
    transition: all ease-in-out 0.2s;
    color: var(--blue) !important;
}


.beige{
    color: var(--flamingo) !important;
}
.beige:hover{
    color: var(--rosewater) !important;
}

.text_focused_mauve{
    color: var(--mauve);
}