@import "palette.css";

:root{

    /* --------- */

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    background-color: var(--base);
    color: var(--text);
    
    margin: 1%;

    main{
        margin: 2%;
        margin-top: 3em;
    }
}


