:root{
    /* palette catppuccin */
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;

    --text : #cdd6f4;
    --subtext1 : #bac2de;
    --subtext0 : #a6adc8;

    --overlay2 : #9399b2;
    --overlay1 : #7f849c;
    --overlay0 : #6c7086;
    --surface2 : #585b70;
    --surface1 : #45475a;
    --surface0 : #313244;

    --base : #1e1e2e;
    --mantle : #181825;
    --crust : #11111b;


    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    margin: 1%;
}

.caps{
    font-weight: bold;
    text-transform: uppercase;
}

.milieu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    display: flex;
    width: 100%;
}

@media (width < 500px) {
    #navnom{
        display: none;
    }
}

#navnom{
    padding-right: 10%;
}

.navlist{
    display: flex !important;
    flex-basis: auto;
}


ul {
    display: flex;
    flex-wrap: wrap;
    min-width: fit-content;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li{
    display: flex;
    justify-content: space-between;
    padding-inline: 1em;
}