.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    aspect-ratio: 800 / 600;
}

.div_transp:hover {

    .image {
        transform: scale(1.05);
        transition: transform 0.15s ease;
    }
}

.div_transp:not(:hover) {

    .image {
        transition: transform 0.15s ease;
    }
}

#machine {
    object-position: top left;
}

#laby {
    object-position: center;
}

h2 {
    margin-bottom: 15px;
}


#per {
    animation-delay: 0.15s;
}



.info_box {
    display: block;
    padding: 15px;
    font-weight: bolder;
    align-self: self-start;
}

#date3::after,
#pg3::after {
    background-image: url(../assets/croix.png);
    background-size: 18px 18px;
    display: inline-block;
    width: 15px;
    height: 15px;
    content: "";
}

.lang {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

.lang p {
    font-weight: bolder;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    padding-inline: 10px;
    border-radius: 13px;
}

#java {
    background-color: var(--peach);
    color: var(--mantle);
}
#css {
    background-color: var(--yellow);
    color: var(--mantle);
}
#bash {
    background-color: var(--green);
    color: var(--mantle);
}
#none{
    background-color: var(--mantle);
    color: var(--mantle); 
}