.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    aspect-ratio: 800 / 600;
}

.div_transp:hover {

    .image {
        transform: scale(1.05);
        transition: transform 0.15s ease;
    }
}

.div_transp:not(:hover) {

    .image {
        transition: transform 0.15s ease;
    }
}



#machine {
    object-position: top left;
}

#laby {
    object-position: center;
}

h2 {
    margin-bottom: 15px;
}



#scolaire_1 {
    animation-delay: 0.05s;
}

#scolaire_2,
#perso_1 {
    animation-delay: 0.1s;
}

#scolaire_3,
#perso_2 {
    animation-delay: 0.1s;
}

#perso_3 {
    animation-delay: 0.15s;
}